@mixin maxScreenWidth {
  max-width: 1200px;
  margin: auto;
}

@mixin centerFlexItems {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes slideIn {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
}
@mixin slideInAnimation {
  animation: slideIn 0.2s ease;
}

@keyframes slideDown {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
}
@mixin slideDownAnimation {
  animation: slideDown 0.2s ease;
}

@mixin transitionDefault {
  transition: all 0.2s;
}
