@import "../../sass/mixins";
@import "../../sass/typography";

.page {
  padding: 50px;
  background-color: #ffffff;
  //   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='290' height='290' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23a6a9ac' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23cfd2d5' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23a6a9ac' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23cfd2d5' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23F9FCFF' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23ababab' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23d4d4d4' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23FFFFFF' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23d4d4d4' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23ababab' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23FFFFFF' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23ababab' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23FFFFFF' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23d4d4d4' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23FFFFFF' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
}

.container {
  @include maxScreenWidth;
  display: grid;
  justify-content: center;
  align-content: flex-start;
  gap: 60px;
  position: relative;
  background-color: rgba(256, 256, 256, 0.95);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.4);
  padding: 50px;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  @include slideInAnimation;
}

.heading {
  @include header__h1;
  text-align: center;
}

.form {
  display: grid;
  gap: 30px;
  align-content: center;

  &__sect {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    gap: 10px;

    &__heading {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 500;
    }

    &__options {
      display: flex;
      border: 2px solid rgba(0, 0, 0, 0.8);
    }

    &__option {
      display: flex;
      align-items: center;
      justify-items: stretch;

      &:not(:last-of-type) {
        border-right: 2px solid rgba(0, 0, 0, 0.8);
      }
    }

    &__label {
      font-size: 12px;
      padding: 10px 20px;
      height: 100%;
      width: 100%;
      cursor: pointer;
      transition: all 0.1s;
    }

    &__radio {
      appearance: none;

      &:checked + label {
        background-color: rgba(0, 0, 0, 0.8);
        color: #ffffff;
      }
    }

    &__switch {
      background-color: #e7e5e5;
      appearance: none;
      height: 35px;
      width: 90px;
      border-radius: 500px;
      position: relative;
      transition: all 0.1s;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        height: 27px;
        width: 27px;
        border-radius: 50%;
        background-color: #b0aeae;
        transition: all 0.1s;
      }

      &:checked {
        background-color: #555454;

        &::after {
          transform: translateX(55px);
          background-color: #dadada;
        }
      }
    }
  }
}
